main.cards section.card.game button {
    margin-top: 50px;
    background: linear-gradient(to right, #2f61ac, #4bb0f3);
}

main.cards section.card div  {
    font-weight: 400;
    max-width: px;
    font-size: 90%;
    margin-bottom: 16px;
}

main.cards section.card.game span  {
    display:block;    
    list-style-type: none;                            
    margin:0;    
    margin-top: 20px;  
    margin-left: 20px;                           
}


li {
    display:block;          
    list-style-type: none;    
    margin:0;             
    height:25%;             
  }
  
li:nth-child(odd) {          /* este css será aplicato nos LI impares (1, 3, 5... ).         */
clear:both;           
float:left;            
width:50%;            
}
  